@import "compass_twitter_bootstrap";
.main{
	ul{
		list-style: none;
		margin:0;
		padding:0;
		li{
			box-sizing: border-box;
		}
	}
	p{
		text-overflow: ellipsis;
	}
}
.linksForm{
	float: right;
}
.hero-unit{
	padding:15px;
}
.edit{
	background: none;	
}
.contFild{
	margin-bottom:15px;
	&:last-child{
		margin-bottom:0;
	}
	label{
		display: inline-block;
	}
	.span2{
		color: #000;
		font-size: 14px;
		text-shadow: 2px 2px 2px #666;
	}
}
.tit-filds{
	display: inline-block;
}
input[type=text]{
	margin-bottom: 0;
}
.bt-action{
	text-align: center;
	margin-top: 18px;
}
input, textarea, .uneditable-input{
	width: 172px;
}
input[type="radio"], input[type="checkbox"]{
	margin-top: -3px;
}
.pop{
	>div{
		margin-bottom: 10px;
	}
	select, option{
		width: 100%;
	}
	input[type="text"], input[type="number"]{
		width: 98%;
	}
	button{
		width: 50.3%;
	}
}
.selectType{
	width: 186px;
	margin-bottom: 0;
}
.view-adds{
	tr{
		th, td{
			white-space: nowrap;
			overflow: hidden;
			max-width: 50px; 
			text-overflow: ellipsis;
		}
	}
}
.fieldset{
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;
	legend{
		width: 30%;
		border:1px solid #ccc;
		box-sizing: border-box;
		padding: 0px 10px;
		margin-bottom: 0;
		border-radius: 10px;
	}
	label{
		display: inline-block;
		margin-right: 10px;
	}
	article{
		margin-bottom: 10px;
	}
}
.viewEdit{
	margin-top: 15px;
	th{
		vertical-align: middle;
		h3{
			display: inline-block;
			margin:0;
			margin-right: 15px;
		}
	}
	td{
		vertical-align: middle;
		color: #000;
		font-size: 15px;
	}
}
.btPageEdit{
	float:right;
}