<table class="view-adds table table-bordered">
	<thead>
		<tr>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
			<th>NomeCampo {{NomeCampo}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
		</tr>
		<tr>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
		</tr>
		<tr>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
		</tr>
		<tr>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
			<td>Campo {{Campo}}</td>
		</tr>
	</tbody>
</table>