<div class="main">
	<div class="hero-unit">
		<label for="">Título formulário</label><input type="text" placeholder="titulo formulário"> <br>
		<label for="" class="tit-filds">Filds</label> <button class="btn btn-mini btn-primary popForm">+</button>
		<div class="hero-unit internal">
			<article class="contFild">
				<div class="row">
					<div class="span2">Tipo</div>
					<div class="span2">Nome</div>
					<div class="span2">Required</div>
					<div class="span2">Readonly</div>
					<div class="span2">
						<div class="btn-group" data-toggle="buttons-radio">
							<button type="button" class="btn btn-primary">Editar</button>
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</article>
			<article class="contFild">
				<div class="row">
					<div class="span2">Tipo</div>
					<div class="span2">Nome</div>
					<div class="span2">Required</div>
					<div class="span2">Readonly</div>
					<div class="span2">
						<div class="btn-group" data-toggle="buttons-radio">
							<button type="button" class="btn btn-primary edit">Editar</button>
							<button type="button" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

<div class="hide">
	<div class="pop">
		<div class="btn-group"><!-- open -->
			<button class="btn btn-type-fild">Radio</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Text</a></li>
				<li><a href="#">Checkbox</a></li>
				<li><a href="#">Radio</a></li>
				<li><a href="#">Textarea</a></li>
	      	</ul>
		</div>
		<div><input type="text" placeholder="label"></div>
		<div><input type="text" placeholder="Exemp: Masc:M, Femi:F"></div>
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="button" class="btn active">Required</button>
			<button type="button" class="btn">Read Only</button>
		</div>
		<div><input type="text" placeholder="Default value"></div>
		<div><button class="btn btn-success">Adcionar</button></div>
	</div>
</div>