<div class="main">
	<ul>
		<li class="row-fluid hero-unit">
			<div class="span3"><strong>Titulo</strong></div>
			<div class="span6">
				<p>Nome, idade, cep...</p>
				<p>1000</p>
			</div>
			<div class="bt-action span3">
				<ul class="btn-group">
					<li class="btn">Editar</li>
					<li class="btn btn-primary">Excluir</li>
				</ul>
			</div>
		</li>
		<li class="row-fluid hero-unit">
			<div class="span3"><strong>Titulo</strong></div>
			<div class="span6">
				<p>Nome, idade, cep...</p>
				<p>1000 view</p>
			</div>
			<div class="bt-action span3">
				<ul class="btn-group">
					<li class="btn">Editar</li>
					<li class="btn btn-primary">Excluir</li>
				</ul>
			</div>
		</li>
		<li class="row-fluid hero-unit">
			<div class="span3"><strong>Titulo</strong></div>
			<div class="span6">
				<p>Nome, idade, cep...</p>
				<p>1000 view</p>
			</div>
			<div class="bt-action span3">
				<ul class="btn-group">
					<li class="btn">Editar</li>
					<li class="btn btn-primary">Excluir</li>
				</ul>
			</div>
		</li>
	</ul>
</div>